<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>myStrom WiFi Switch</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
      <ion-item>
        <ion-label>Power</ion-label>
        <ion-note slot="end" color="primary">{{ switch_status.power | number : '1.1-1' }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Ws</ion-label>
        <ion-note slot="end" color="secondary">{{ switch_status.ws | number : '1.1-1' }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Relay</ion-label>
        <ion-note slot="end" color="primary">{{ switch_status.relay }}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Temperature</ion-label>
        <ion-note slot="end" color="secondary">{{ switch_status.temperature | number : '1.1-1' }}</ion-note>
      </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="onGetReport()">Report</ion-button>
    <ion-button expand="block" (click)="onSwitchOn()">On</ion-button>
    <ion-button expand="block" (click)="onSwitchOff()">Off</ion-button>
    <ion-button expand="block" (click)="onToggle()">Toggle</ion-button>
  </ion-content>
</ion-content>